@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin: 0;
  height: 100%;
  background: transparent;
  overflow: hidden;
  user-select: none;
}

body {
  font-family:
    "Segoe UI",
    ui-sans-serif,
    system-ui,
    sans-serif;
}
